.recipe-card {
  width: 100%;
  max-width: 200px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
}

.recipe-card-ttl {
  font-size: 18px;
  text-decoration: underline;
}

.recipe-card-img {
  display: block;
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 20px auto;
}
